
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Administrator Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('.static', filename='css/signin.css') }}" rel="stylesheet">
	<script src="{{ url_for('.static', filename='js/ie-emulation-modes-warning.js') }}"></script>
  </head>

  <body>

    <div class="container">
      <h2><center><strong>Login Administrator</strong></center></h2>
      <form class="form-signin" action="" method="POST">
        
        {{ form.username(class="form-control", placeholder="Username") }}
        {% if form.username.errors %}
        <strong style="color:red">*</strong>{{ form.username.errors }}
        {% endif %}
        </br>
        



        {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.password.errors %}
        <strong style="color:red">*</strong>{{ form.password.errors }}
        {% endif %}
        </br>
        
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block">
        <br>
        <center style="color: green">

            {% for message in get_flashed_messages() %}
            <i>{{ message }}</i>
            {% endfor %}
        </center>
        </br>

      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('.static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
